In [1]:
from bs4 import BeautifulSoup as bs
import os
import requests
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

### NASA Mars News

In [2]:
# get the url for NASA's latest news
url ="https://mars.nasa.gov/news/"

In [3]:
response = requests.get(url)

In [4]:
soup = bs(response.text, 'html.parser')

In [5]:
news_title = soup.find("div", class_="content_title").a.text
paragraph = soup.find("div", class_="rollover_description_inner").text
print(f"News Title: {news_title}")
print("--------------------------------------------------------------------------------------------------------")
print(f"Paragraph: {paragraph}")

News Title:
NASA Ingenuity Mars Helicopter Prepares for First Flight

--------------------------------------------------------------------------------------------------------
Paragraph:
Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.

### JPL Mars Space Images - Featured Image

In [6]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\sthakur\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [7]:
# get the url for jpl space
jpl_url ="https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
# open the url
browser.visit(jpl_url)

In [8]:
# create html to parse
html = browser.html

# create soup object to parse html
soup = bs(html, "html.parser")

# use beautifulsoup to navigate to the image
image = soup.find("img", class_="headerimage fade-in")['src']

# display larger size image
print(image)

image/featured/mars3.jpg

In [9]:
# create the url for the image
featured_image_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/" + image
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg

In [10]:
browser.quit()

### Mars Facts

In [11]:
mars_url = 'https://space-facts.com/mars/'

In [12]:
# Use panda's to get the tabular data from page
table = pd.read_html(mars_url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
# convert table to pandas dataframe
mars_df = table[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
# rename the columns
mars_df.columns=["Description", "Mars"]
mars_df

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
# reset the index for the df
mars_df.set_index("Description", inplace=True)
mars_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
# convert dataframe to an html table string
html_table = mars_df.to_html(justify='left')
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [17]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\sthakur\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [18]:
# get the url for jpl space
hemi_url ="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
# open the url
browser.visit(hemi_url)

In [19]:
# create html to parse
html = browser.html

# create soup object to parse html
soup = bs(html, "html.parser")

In [20]:
# use beautifulsoup to navigate to the main class
results = soup.find_all("div", class_="item")

hemisphere_image_urls = []

# loop through image data to find title and url info
for result in results:
    
    # get the title
    title = result.find("h3").text
    
    # get the image url
    img_url = result.a["href"]
    
    # visit the image url page to get full image
    main_img_url = "https://astrogeology.usgs.gov" + img_url
    
    # use requests to get full images url 
    response = requests.get(main_img_url)
    
    # create soup object
    soup = bs(response.text,"html.parser")
    
    # find full image url
    new_url = soup.find("img", class_="wide-image")["src"]
    
    # create full image url
    full_img_url = "https://astrogeology.usgs.gov" + new_url
      
   
    # make a dict and append to the list
    hemisphere_image_urls.append({"title": title, "img_url": full_img_url})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [21]:
browser.quit()